.closeButton{
    float:right;
    margin-top:5px;
    margin-right:5px;
}
.closeButton:hover{
    cursor:pointer;
}
.menuButton{
    position:fixed;
    margin-top:8px;
    margin-left:8px;
    cursor:pointer;
}
.menu{
    width:200px;
    height:100%;
    position:fixed;
    left:-200px;
    top:0px;
    background: #2D2D2D;
}
.component{
    position:fixed;
    margin:auto;
    width:500px;
    background:none;
    left: 0;
    right: 0;
    bottom:200px;
}
.sidebar_items{
    width:210px;
}
html{
    position:relative;

}
body{
    background-color:#f8f5ef;
}
.footer{
    position:absolute;
    width:100%;
    overflow:hidden;
    height:260px;
    left:0;
    bottom:0;
    margin-bottom:100px;
}
.document_text{
    font-size:17px;
    margin-left:53px;
}
.title_text{
    margin-top:80px;
}
.file_download_image{
    position:absolute;
}

.firstpage{
    background: url('../img/city_background.jpg');
    background-size:cover;
    height:100%;
    position:static;
  }
.text-title{
    color: white;
    font-size:70px;
    font-family:calibri;
    margin-top:80px;
}
.separationbar{
    margin-top:110px;
}
.layer1{
    background-color:#e34d42;
    min-height:500px;
    position:initial;
}
.layer2{
    background-color:#eec22f;
    position:initial;
}
.layer3{
    background-color:#f8f5ef;
    position:initial;
}
.layer4{
    background: url(../img/greynoise.jpg) fixed;
    position:initial;
}
.layer5{
    background-color:#BDB9B9;
    position:initial;
}
.footerbar{
    margin-top:300px;
    margin-bottom:300px;
    position:initial;
}
#wrapper.toggled{
    left:250px;
}
